    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="product-sidebar-nav">
       <div class="product-sidebar-nav-title">
         产品展示
         <p>PRODUCT DISPLAY</p>
       </div>
       <div class="product-sidebar-item">
        <ul class="list-group">
          <li class="list-group-item active">托盘系列</li>
          <li class="list-group-item">
            <a href="product/index.html">塑料托盘</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">钢制托盘</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">木制托盘</a>
          </li>
        </ul>
       </div>
  
       <div class="product-sidebar-item">
        <ul class="list-group">
          <li class="list-group-item active">
            货架系列
          </li>
          <li class="list-group-item">
            <a href="product/index.html">阁楼式货架</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">抽屉式货架</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">中型货架</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">仓储货架系列</a>
          </li>
        </ul>
       </div>

       <div class="product-sidebar-item">
        <ul class="list-group">
          <li class="list-group-item active">
            叉车系列
          </li>
          <li class="list-group-item">
            <a href="product/index.html">柴油叉车</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">电动叉车</a>
          </li>
        </ul>
       </div>

       <div class="product-sidebar-item">
        <ul class="list-group">
          <li class="list-group-item active">
            其他系列
          </li>
          <li class="list-group-item">
            <a href="product/index.html">堆高车</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">搬运车</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">手推车</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">升降平台</a>
          </li>
          <li class="list-group-item">
            <a href="product/index.html">工具柜</a>
          </li>
        </ul>
       </div>

      </div>
    </div>