<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li><a href="/">首页</a></li>
                    <li><a href="/about/index.html">关于我们</a></li>
                    <li><a href="/product/index.html">产品展示</a></li>
                    <li><a href="/case/index.html">案例展示</a></li>
                    <li><a href="/news/index.html">新联资讯</a></li>
                    <li><a href="/contactus/index.html">联系我们</a></li>
                </ul>
                <ol>
                    <li>电话：0000-0000000</li>
                    <li>传真：0000-0000000</li>
                    <li>邮箱：company@liangchang.com</li>
                    <li>地址：新疆阿克苏地区阿克苏市兰杆街道前进路1号4楼405室</li>
                    <li>版权所有 © 2021 新疆粮昌机械科技有限公司  新ICP备XXXXX号</li>
                </ol>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</footer>