
{% include banner.html %}

<div class="row row-offcanvas row-offcanvas-right">
    {% include centerleft.html %}
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs" style="width: 100%;">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">产品导航</button>
        </p>
        <div class="row">
          <div class="col-xs-6 col-lg-4">
            <a href=javasciprt:void(); class="thumbnail">
              <img src="/images/hp1.jpg" alt="塑料九脚大网格">
              <div class="caption">
                塑料九脚大网格
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-lg-4">
            <a href=javasciprt:void(); class="thumbnail">
                <img src="/images/hp2.jpg" alt="钢制托盘">
                <div class="caption">
                    钢制托盘
                </div>
            </a>
          </div>
          <div class="col-xs-6 col-lg-4">
            <a href=javasciprt:void(); class="thumbnail">
                <img src="/images/hp3.jpg" alt="木制托盘">
                <div class="caption">
                    木制托盘
                </div>
            </a>
          </div>
          <div class="col-xs-6 col-lg-4">
            <a href=javasciprt:void(); class="thumbnail">
                <img src="/images/hp4.jpg" alt="阁楼式货架">
                <div class="caption">
                    阁楼式货架
                </div>
            </a>
          </div>
          <div class="col-xs-6 col-lg-4">
            <a href=javasciprt:void(); class="thumbnail">
                <img src="/images/hp5.jpg" alt="抽屉式货架">
                <div class="caption">
                    抽屉式货架
                </div>
            </a>
          </div>
          <div class="col-xs-6 col-lg-4">
            <a href=javasciprt:void(); class="thumbnail">
                <img src="/images/hp6.jpg" alt="宽窄道货架">
                <div class="caption">
                    宽窄道货架
                </div>
            </a>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-lg-4">
              <a href=javasciprt:void(); class="thumbnail">
                <img src="/images/hp7.png" alt="柴油叉车">
                <div class="caption">
                    柴油叉车
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-lg-4">
              <a href=javasciprt:void(); class="thumbnail">
                  <img src="/images/hp8.jpg" alt="电动叉车">
                  <div class="caption">
                    电动叉车
                  </div>
              </a>
            </div>
            <div class="col-xs-6 col-lg-4">
              <a href=javasciprt:void(); class="thumbnail">
                  <img src="/images/hp9.jpg" alt="堆高车">
                  <div class="caption">
                    堆高车
                  </div>
              </a>
            </div>
            <div class="col-xs-6 col-lg-4">
              <a href=javasciprt:void(); class="thumbnail">
                  <img src="/images/hp10.jpg" alt="工具柜">
                  <div class="caption">
                    工具柜
                  </div>
              </a>
            </div>
            <div class="col-xs-6 col-lg-4">
              <a href=javasciprt:void(); class="thumbnail">
                  <img src="/images/hp11.jpg" alt="全电动托盘搬运车">
                  <div class="caption">
                    全电动托盘搬运车
                  </div>
              </a>
            </div>
            <div class="col-xs-6 col-lg-4">
              <a href=javasciprt:void(); class="thumbnail">
                  <img src="/images/hp12.jpg" alt="中型货架">
                  <div class="caption">
                    中型货架
                  </div>
              </a>
            </div>
          </div>

      </div>
</div>



<div class="row services">
    <h3 class="text-center">服务流程</h3>
    <div class="col-xs-2">
        <div class="thumbnail">
        <img src="/images/s1.png" alt="..." class="img-circle">
        <div class="caption">
            <h4 class="text-center">现场分析</h4>
        </div>
        </div>
        </div>
    <div class="col-xs-2">
        <div class="thumbnail">
        <img src="/images/s2.png" alt="..." class="img-circle">
        <div class="caption">
            <h4 class="text-center">制定方案</h4>
        </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="thumbnail">
        <img src="/images/s3.png" alt="..." class="img-circle">
        <div class="caption">
            <h4 class="text-center">精心设计制造</h4>
        </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="thumbnail">
        <img src="/images/s4.png" alt="..." class="img-circle">
        <div class="caption">
            <h4 class="text-center">项目规范实施</h4>
        </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="thumbnail">
        <img src="/images/s5.png" alt="..." class="img-circle">
        <div class="caption">
            <h4 class="text-center">现场安装调试</h4>
        </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="thumbnail">
        <img src="/images/s6.png" alt="..." class="img-circle">
        <div class="caption">
            <h4 class="text-center">维护维修服务</h4>
        </div>
        </div>
    </div>
</div>