html, body {
    overflow-x: hidden;
}
.navbar-inverse,.navbar-inverse .navbar-header,.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-brand
{
    color: #FFF;
}
.navbar-inverse
{
    background-color: #0084bb;
    border: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
    background-color: #fff;
    color:#0084bb;
}
.carousel
{
    margin-bottom: 10px;
}
.product-sidebar-nav{
       border: 2px solid #0084bb;
       padding: 1px;
}
.product-sidebar-nav-title
{
    height: 55px;
    padding-top: 10px;
    background: #0084bb;
    text-align: center;
    font-size: 18px;
    color: #f7f5f5;
}
.product-sidebar-nav-title p
{
    font-size: 10px;
    line-height: 13px;
}
.product-sidebar-item
{
    margin: 0 auto;
    height: auto;
    margin: 15px 10px 10px 10px;
}
.product-sidebar-item >.list-group >.list-group-item.active{
    height: 40px;
    padding-left: 26px;
    color: #fff;
    font-weight: 900;
    margin: 10px 0;   
    background: #0084bb;
}
.product-sidebar-item >.list-group >.list-group-item{
    border:none;
    padding-left: 40px;
}
.product-sidebar-item >.list-group >.list-group-item a:hover
{
    cursor: pointer;
}
.product-sidebar-item >.list-group >.list-group-item a
{
    color: #4d4d4d;
    font-size: 14px;
    text-decoration:none;
}
.product-sidebar-item >.list-group >.list-group-item:first-child
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.row-offcanvas .thumbnail img
{
    width: 253px;
    height: 162px;
}
.thumbnail .caption
{
    text-align: center;
}
.services .thumbnail
{
border: none;
}
.content_title
{
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.about_content p {
    text-indent: 24px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 16px;
}
.contactus_content ul{
    padding: 0px;
    margin: 0px;
}
.contactus_content li{
    list-style: none;
    padding: 5px 0px;
    font-size: 16px;
}
.footer{
    border-top: 1px solid #cccccc;
    background: #0084bb;
}
.footer .list-inline
{
    margin-bottom: 20px;
}
.footer .list-inline a
{
color: #fff;
margin-right: 20px;
font-weight: bold;
text-decoration: none;
}
.footer ol{
    padding: 0px;
    list-style: none;
    color: #fff;
}

.footer ol li{
padding: 2px 0px;
}
.row-offcanvas
{
    margin-bottom: 10px;
}